@media (max-width: 1200px){
    .navbar-light .navbar-nav>li{
        padding:15px 18px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 16px;
    }
    .hero-content h1{
        font-size: 45px;
    }
}
@media (max-width: 991px){

    .sub-menu{
        display: none;
    }
    .navbar-collapse{
        display: none !important;
    }
    .hero-content h1{
        font-size: 36px;
    }
    .slick-next{
        right: 10px;
    }
    .slick-prev {
        left: 10px;
    }
    .about-img{
        position: static;
    }
    .om-slider .slick-slide img{
        width: 100%;
        object-fit: cover;
    }
    .slider-content{
        max-width: 95%;
        margin: 0 auto;
        left: 0;
        bottom: 10%;
        top: unset;
    }
    .slider-text {
        background: rgb(255 229 169 / 89%);
        border-radius: 0 25px 0 25px;
    }
    .mobile-menu-icon {
        display: block !important;
    }
    .eb-time{
        border: 0;
    }
    .ao-sec .row{
        flex-direction: column-reverse;
    }
    .ao-img, .estd-img, .om-img{
        text-align: center;
        margin-bottom: 35px;
    }
    .estd-img img{
        height: auto;
    }
    .journey-sec .journey-period .row:last-child,
    .osho-maitreya  .row{

        flex-direction: column-reverse;
    }
    .ab-lists .row .column{
        flex: 0 0 33%;
    }
    .map-detail{
        margin: 0;
        max-width: 100%;
    }
    .map iframe{
        position: static;
        width: 100%;
    }
}
@media (max-width: 767px){
    .section-title h2{
        font-size: 26px;
    }
    .footer-content h3{
        font-size: 20px;
    }
    .footer-content{
        margin-top:25px !important
    }
.logo{
    text-align: left;
}
.close-icon{
    right: 10px;
}
.quotation{
    padding: 35px 25px;
}
.ab-lists .row .column{
    flex: 0 0 50%;
}
footer section{
    padding:50px 0;
}
.ss-page section{
    padding-bottom: 25px!important;
}
.home-gallery-sec .row, .events-sec .more-link{
    display: none;
}
.gallery-slider{
    display: block;
}
}

@media (max-width: 575px){
.banner-content p{
    display: none;
}
.hero-content h1{
    font-size: 28px;
}
.ao-text p, .om-text p, .estd-text p, .ss-page, .ss-page p{
    font-size: 16px;
}
.slider-text{
    padding: 15px;
}
.om-slider .slick-next, .om-slider .slick-prev{
    top: 105%;
}
.slider-content{
    top: 0;
    bottom: 0;
}
.om-slider .custom_paging{
    top: 0;
    left: 0;
}
.slider-text h2{
    margin-bottom: 10px;
}
.slider-content{
    position: static;
    max-width: 96%;
}
.slider-text{
    border-radius: 0;
}
.eb-time{
    padding-bottom: 0;
}
.eb-text{
    padding-top: 0;
}
.filter .row{
    flex-direction: column-reverse;
}
.filter .row .form-group{
    text-align: left !important;
}
.filter .form-group input{
    width: 100%;
}
.bg-attachment{
    background-attachment:unset !important;
}
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 60%;
}
}